* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

.search {
    width: 25rem;
    padding-top : 2rem;
    margin: 1rem auto;
}

#search-input {
    width: 25rem;
}

.main {
    padding: 1rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    background-size: cover;
}
