/node_modules
/public/hot
/public/storage
# 깃 허브 업로드시 용량을 위해 추가
/public/css
/public/img
/public/js
/public/profile
/public/mix-manifest.json
# ------------------
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
