.nav {
  background-color: rgb(100, 100, 126);
  padding: 15px;
  border-radius: 10px;
}

.nav > a{
  color: white;
  padding: 10px;
  text-decoration: none;
}

.bg_black {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  /* opacity: 0.7; */
  position: fixed;
  top: 0;
  left: 0;
}

.bg_white {
  width: 80%;
  max-width: 400px; /* TODO : 사진 크기 수정후 삭제*/
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}

.bg_white img {
  width: 100%;
}