div {
    width: 150px;
    height: 50px;
    margin: 5px;
}
.line-1 {
    background: linear-gradient(60deg, white, blue 20%, white 50%, black);
}
.cir-1 {
    height: 50px;
    background: radial-gradient(circle at 60% 40%, white, blue 50%, white);
}